/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto:400,400i,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.flex-d, .main-footer .footer-layout .flex-footer, .main-footer .footer-layout .flex-footer .useful-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.text-center {
  text-align: center; }

.btn-primery {
  padding: 10px 20px;
  background-color: #fff;
  color: #947054;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 400ms;
  border: none; }
  .btn-primery:hover {
    background-color: #947054;
    color: White; }
  .btn-primery:focus {
    outline: none; }
  .btn-primery:active {
    background-color: white;
    color: #000; }

.btn-secndry {
  padding: 10px 20px;
  background-color: #947054;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  transition: 400ms; }
  .btn-secndry:hover {
    background-color: #000;
    color: White; }
  .btn-secndry:focus {
    outline: none; }

.menu-toggle {
  margin: 8px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; }

.entry-content .um .um-form .um-field-label, form ul.wpuf-form li .wpuf-label label {
  color: #947054 !important;
  float: none;
  text-align: left;
  width: auto; }
  @media (max-width: 767px) {
    .entry-content .um .um-form .um-field-label, form ul.wpuf-form li .wpuf-label label {
      font-size: 0.875rem; } }

.entry-content .um .um-form input[type=text], .entry-content .um .um-form input[type=password], form ul.wpuf-form li .wpuf-fields input {
  border: none !important;
  border-bottom: 2px solid #947054 !important; }
  .entry-content .um .um-form input[type=text]:focus, .entry-content .um .um-form input[type=password]:focus, form ul.wpuf-form li .wpuf-fields input:focus {
    outline: none !important; }
  @media (max-width: 767px) {
    .entry-content .um .um-form input[type=text], .entry-content .um .um-form input[type=password], form ul.wpuf-form li .wpuf-fields input {
      font-size: 0.875rem !important; } }

.entry-content .um input[type=submit].um-button, form ul.wpuf-form li #wpuf-account-update-profile, form ul.wpuf-form li input[type=submit] {
  padding: 10px 20px;
  background-color: #947054;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 400ms;
  border: none; }
  .entry-content .um input[type=submit].um-button:hover, form ul.wpuf-form li #wpuf-account-update-profile:hover, form ul.wpuf-form li input[type=submit]:hover {
    background-color: #000;
    color: #fff; }
  .entry-content .um input[type=submit].um-button:focus, form ul.wpuf-form li #wpuf-account-update-profile:focus, form ul.wpuf-form li input[type=submit]:focus {
    outline: none; }
  .entry-content .um input[type=submit].um-button:active, form ul.wpuf-form li #wpuf-account-update-profile:active, form ul.wpuf-form li input[type=submit]:active {
    background-color: white;
    color: #000; }

.entry-content .um .um-button.um-alt {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  transition: 400ms; }
  .entry-content .um .um-button.um-alt:hover {
    background-color: #947054;
    color: #fff; }
  .entry-content .um .um-button.um-alt:focus {
    outline: none; }

form ul.wpuf-form li {
  text-align: left; }
  form ul.wpuf-form li .wpuf-label {
    width: 100%;
    text-align: left; }
    @media (max-width: 767px) {
      form ul.wpuf-form li .wpuf-label label {
        font-size: 0.875rem !important; } }
  form ul.wpuf-form li .wpuf-fields {
    text-align: left;
    float: none;
    width: 100%; }
    form ul.wpuf-form li .wpuf-fields input[type=radio], form ul.wpuf-form li .wpuf-fields input[type=checkbox] {
      width: auto; }
    @media (max-width: 767px) {
      form ul.wpuf-form li .wpuf-fields .wpuf-radio-block {
        font-size: 0.875rem !important; } }
    @media (max-width: 767px) {
      form ul.wpuf-form li .wpuf-fields label {
        font-size: 0.875rem !important; } }
    form ul.wpuf-form li .wpuf-fields select {
      width: 100%; }
      form ul.wpuf-form li .wpuf-fields select option {
        width: 30% !important;
        font-size: 0.875rem; }
  form ul.wpuf-form li .wpuf-help, form ul.wpuf-form li #pass-strength-result {
    font-size: 0.875rem; }
form ul.wpuf-form li.field-size-large {
  width: 100%; }
  form ul.wpuf-form li.field-size-large .wpuf-fields {
    float: none;
    width: 100%; }

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  @media (min-width: 576px) {
    html, body {
      font-size: 10px; } }
  @media (min-width: 768px) {
    html, body {
      font-size: 12px; } }
  @media (min-width: 992px) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: 16px; } }

body {
  height: 0px !important; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

.section-heading, .entry-title {
  font-size: 3.125rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 600;
  text-align: center;
  color: #323232;
  font-family: "Open Sans", sans-serif; }
  @media (max-width: 575px) {
    .section-heading, .entry-title {
      font-size: 2.1875rem;
      margin-bottom: 25px; } }

.post-edit-link {
  font-size: 20px; }

.banner-section {
  height: 900px;
  background-image: url("../images/hero1.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat; }
  .banner-section h1 {
    min-width: 100px;
    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    padding: 10px 15px; }

.latest-posts-container {
  margin-top: 100px;
  margin-bottom: 100px; }

.card {
  position: relative;
  width: 30%;
  max-width: 700px;
  min-width: 300px;
  z-index: 1;
  margin: 16px; }
  .card:hover .card-head .cost .cost-btn {
    background-color: #947054;
    color: White; }
  .card .card-head {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .card .card-head a .img-link {
      width: 100%;
      height: 280px; }
    .card .card-head .cost .cost-btn {
      display: inline-block;
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 10;
      margin-bottom: 0;
      line-height: 1;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      padding: 10px 20px;
      background-color: #fff;
      color: #947054;
      font-size: 1.875rem;
      font-weight: 600; }
  .card .card-body {
    padding: 30px;
    font-family: "Open Sans", sans-serif; }
    .card .card-body h5 {
      font-size: 1.125rem;
      margin: 0;
      margin-bottom: 10px; }
    .card .card-body p {
      margin: 0;
      margin-bottom: 50px; }
    .card .card-body .location {
      color: #947054;
      margin: 0;
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 600;
      display: flex; }
      .card .card-body .location i {
        margin-right: 6px;
        font-size: 1.125rem;
        font-weight: 900; }
    .card .card-body .description {
      color: #7d7d7d;
      font-size: 0.875rem;
      line-height: 2; }
      .card .card-body .description .more-link {
        color: #947054; }
    .card .card-body .property-meta-data {
      font-size: 1.5rem;
      width: 80%;
      position: absolute;
      bottom: 20px; }
      .card .card-body .property-meta-data span {
        font-size: 12px;
        margin-left: 5px;
        color: #838383;
        font-size: 0.75rem; }
      .card .card-body .property-meta-data i {
        margin-right: 8px;
        color: #947054;
        font-size: 1.5rem; }

.read-more {
  color: #795548; }
  .read-more:visited {
    color: #9e9e9e; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ljmnou");
  src: url("../fonts/icomoon.eot?ljmnou#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ljmnou") format("truetype"), url("../fonts/icomoon.woff?ljmnou") format("woff"), url("../fonts/icomoon.svg?ljmnou#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-hl-"], [class*=" icon-hl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hl-search:before {
  content: "\e900"; }

.icon-hl-bathroom:before {
  content: "\e901"; }

.icon-hl-bed:before {
  content: "\e902"; }

.icon-hl-new:before {
  content: "\e903"; }

.icon-hl-up-arrow:before {
  content: "\e904"; }

.icon-hl-resize:before {
  content: "\e905"; }

.icon-hl-gps:before {
  content: "\e906"; }

.icon-hl-phone:before {
  content: "\e907"; }

.icon-hl-mail:before {
  content: "\e908"; }

.icon-hl-facebook:before {
  content: "\e909"; }

.icon-hl-twitter:before {
  content: "\e90a"; }

.icon-hl-google-plus:before {
  content: "\e90b"; }

.icon-hl-right-arrow:before {
  content: "\e90c"; }

.icon-hl-left-arrow:before {
  content: "\e90d"; }

.icon-hl-menu:before {
  content: "\e90e"; }

.icon-hl-rubbish-bin:before {
  content: "\e90f"; }

.icon-hl-edit:before {
  content: "\e910"; }

.icon-hl-logout:before {
  content: "\e911"; }

.icon-hl-settings:before {
  content: "\e912"; }

.site-header {
  background-color: #000;
  display: flex;
  align-items: center;
  height: 5.625rem;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 1px 11px -2px black;
  box-shadow: 0px 1px 11px -2px black;
  transition: all 0.6s ease-in-out; }
  @media (max-width: 767px) {
    .site-header {
      height: 100%;
      padding: 0 8px; } }
  @media (max-width: 575px) {
    .site-header {
      flex-wrap: wrap; } }
  .site-header .site-branding {
    margin-right: auto; }
    .site-header .site-branding a {
      display: block;
      padding-top: 16px; }
      .site-header .site-branding a img {
        width: 150px; }
        @media (max-width: 767px) {
          .site-header .site-branding a img {
            width: 100px; } }

.main-footer {
  background-image: url("../images/cta.jpg"); }
  .main-footer .footer-layout {
    background-color: rgba(7, 7, 7, 0.949);
    padding-top: 80px; }
    .main-footer .footer-layout .flex-footer {
      align-items: flex-start;
      color: #7d7d7d;
      flex-wrap: wrap; }
      .main-footer .footer-layout .flex-footer .footer-items h5 {
        font-size: 1rem;
        color: #fff;
        border-bottom: 2px solid #947054; }
      .main-footer .footer-layout .flex-footer .about-us .brand-logo {
        width: 200px; }
      .main-footer .footer-layout .flex-footer .contact-details .timings-detail ul {
        padding: 0px;
        margin: 0; }
        .main-footer .footer-layout .flex-footer .contact-details .timings-detail ul li {
          padding: 10px 0px 15px 0px;
          border-bottom: 1px solid #7d7d7d;
          list-style: none; }
      .main-footer .footer-layout .flex-footer .contact-details i {
        color: #947054;
        margin: 0px 10px 0px 0px;
        font-size: 1.125rem; }
      .main-footer .footer-layout .flex-footer .useful-links {
        height: 550px; }
        .main-footer .footer-layout .flex-footer .useful-links ul {
          padding: 0px;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin: 0; }
          .main-footer .footer-layout .flex-footer .useful-links ul li {
            width: 40%;
            padding: 10px 0px 15px 0px;
            list-style: none; }
            .main-footer .footer-layout .flex-footer .useful-links ul li a {
              text-decoration: none;
              color: #7d7d7d;
              border-bottom: 2px solid transparent;
              transition: 400ms;
              line-height: 10px; }
              .main-footer .footer-layout .flex-footer .useful-links ul li a:hover {
                border-bottom: 2px solid #947054;
                color: #947054; }
      .main-footer .footer-layout .flex-footer .footer-div-alignments {
        line-height: 28px;
        margin: 0px;
        width: 33.3333333333%;
        min-width: 300px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        padding: 10px 20px; }

.main-navigation {
  width: auto; }
  @media (max-width: 575px) {
    .main-navigation {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center; } }
  .main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 8px; }
    .main-navigation ul li {
      display: inline-block; }
      @media (max-width: 767px) {
        .main-navigation ul li {
          float: none; } }
      .main-navigation ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 30px 20px;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        transition: all 0.5s ease-in-out; }
        .main-navigation ul li a:hover {
          color: #947054;
          text-decoration: underline; }
        .main-navigation ul li a:active {
          background-color: #fff;
          color: #000; }

.toggled ul {
  background-color: #000; }
  .toggled ul li {
    display: block; }

.latest-posts-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 100px; }

.call-to-action-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 650px;
  background-image: url("../images/cta.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .call-to-action-area h2 {
    color: #ffffff;
    font-size: 1.875rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 5px 10px; }
  .call-to-action-area h6 {
    font-size: 1.5625rem;
    font-style: italic;
    color: #ffffff;
    padding: 5px 10px; }
  .call-to-action-area .text-center a {
    font-size: 1.5625rem;
    text-decoration: none; }

.bg-fixed {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.bg-overlay-black {
  position: relative;
  z-index: 1; }

.bg-overlay-black::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  content: ''; }

.search-btn:visited {
  color: #fff; }

/* :: 13.0 Editor Area CSS */
.south-editor-area {
  background-color: #f1f6f8;
  position: relative;
  z-index: 1;
  flex-wrap: wrap; }
  .south-editor-area .editor-content-area {
    position: relative;
    z-index: 1;
    padding: 100px 0px;
    width: 40%;
    min-width: 280px;
    font-size: 1.125rem;
    color: #7d7d7d; }
  .south-editor-area .editor-thumbnail {
    width: 30%;
    height: 300px;
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 200px; }
  .south-editor-area .address h6 {
    font-size: 1.125rem; }
    .south-editor-area .address h6 i {
      color: #947054;
      margin-right: 5px; }
  .south-editor-area .section-heading, .south-editor-area .entry-title {
    width: 100%; }
    .south-editor-area .section-heading h2, .south-editor-area .entry-title h2 {
      font-size: 2.1875rem;
      color: #947054; }

.privacy .privacy-img1, .privacy .privacy-img2 {
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px; }

div.tab-content {
  display: none;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    div.tab-content {
      justify-content: center; } }

.tabs {
  margin: 0 18px;
  margin-bottom: 30px;
  text-align: center; }
  .tabs .tab-links {
    font-weight: 400;
    margin: 0 16px; }
    .tabs .tab-links:hover {
      color: #fff; }
    @media (max-width: 575px) {
      .tabs .tab-links {
        font-size: 0.875rem;
        margin: 0 8px; } }

.active {
  background-color: #fff;
  color: #947054;
  border-bottom: 2px solid #947054; }

.privacy {
  padding: 100px 30px; }
  .privacy .privacy-img1 {
    background-image: url("../images/privacy.png"); }
  .privacy .privacy-img2 {
    background-image: url("../images/privacy2.png"); }
  .privacy p, .privacy ul {
    font-size: 1.375rem;
    color: gray;
    font-style: italic; }

.single-post-container {
  margin: 150px 0px; }
  .single-post-container .single-post {
    width: 100%;
    max-width: 100%;
    border: none;
    box-shadow: none; }
    .single-post-container .single-post .card-head {
      height: 700px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .single-post-container .single-post .card-body {
      padding: 8px;
      text-align: center; }
      .single-post-container .single-post .card-body .post-title {
        font-size: 2.8125rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 600;
        text-align: center;
        color: #323232;
        font-family: "Open Sans", sans-serif; }
      .single-post-container .single-post .card-body .location {
        display: block;
        text-align: center;
        font-size: 1rem;
        color: #947054; }
      .single-post-container .single-post .card-body .further-detail {
        padding: 0px 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #7f7f7f; }
        @media (max-width: 991px) {
          .single-post-container .single-post .card-body .further-detail {
            justify-content: center !important; } }
        .single-post-container .single-post .card-body .further-detail .post-details {
          font-size: 1rem !important;
          min-width: 40%;
          border-bottom: 2px solid #fff;
          text-align: left; }
          @media (max-width: 575px) {
            .single-post-container .single-post .card-body .further-detail .post-details {
              min-width: 50%;
              text-align: center; } }
          .single-post-container .single-post .card-body .further-detail .post-details .detail-title, .single-post-container .single-post .card-body .further-detail .post-details .category-title {
            display: inline-block;
            width: 30%;
            font-weight: 400; }
            @media (max-width: 575px) {
              .single-post-container .single-post .card-body .further-detail .post-details .detail-title, .single-post-container .single-post .card-body .further-detail .post-details .category-title {
                width: auto; } }
          .single-post-container .single-post .card-body .further-detail .post-details p {
            font-size: 1rem; }
            .single-post-container .single-post .card-body .further-detail .post-details p span {
              font-size: 1rem;
              font-weight: 700; }
          .single-post-container .single-post .card-body .further-detail .post-details .post-categories {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block; }
            .single-post-container .single-post .card-body .further-detail .post-details .post-categories li {
              padding: 0; }
              .single-post-container .single-post .card-body .further-detail .post-details .post-categories li a {
                font-weight: bold;
                text-decoration: none;
                color: #323232;
                font-size: 1rem; }
      .single-post-container .single-post .card-body .booknow {
        display: block;
        padding: 10px 20px;
        background-color: #947054;
        color: #fff;
        font-size: 1.875rem;
        font-weight: 600;
        transition: 400ms;
        border: none;
        margin: 0 auto; }

.um-form .um-misc-img img {
  width: 400px !important;
  border: 3px solid #947054; }
  @media (max-width: 767px) {
    .um-form .um-misc-img img {
      width: 150px !important; } }

.um-form .um-misc-img ~ div {
  color: #947054 !important;
  font-size: 2.1875rem;
  text-transform: capitalize; }
  @media (max-width: 767px) {
    .um-form .um-misc-img ~ div {
      font-size: 1.25rem; } }

.um-misc-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 14px 0; }
  .um-misc-ul li a {
    color: #000;
    text-decoration: #323232;
    font-weight: 600; }

.entry-content {
  text-align: center;
  font-size: larger; }
  @media (max-width: 575px) {
    .entry-content {
      width: 90% !important;
      margin: 0 auto; } }

.wpuf-dashboard-container .wpuf-dashboard-content {
  text-align: left;
  float: none !important;
  margin: 0 auto !important;
  padding: 0 30px; }
  @media (max-width: 575px) {
    .wpuf-dashboard-container .wpuf-dashboard-content {
      width: 100% !important;
      font-size: 0.875rem; } }

.wpuf-dashboard-container .wpuf-dashboard-navigation {
  text-align: left;
  float: none !important;
  width: auto !important; }
  .wpuf-dashboard-container .wpuf-dashboard-navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .wpuf-dashboard-container .wpuf-dashboard-navigation ul li {
      border: 1px solid #947054;
      margin: 10px 5px;
      padding-bottom: 0 !important; }
      .wpuf-dashboard-container .wpuf-dashboard-navigation ul li a {
        color: black;
        display: block;
        padding: 10px 30px;
        transition: 50ms; }
        @media (max-width: 575px) {
          .wpuf-dashboard-container .wpuf-dashboard-navigation ul li a {
            padding: 5px 15px;
            font-size: 0.875rem; } }
        .wpuf-dashboard-container .wpuf-dashboard-navigation ul li a:hover {
          background-color: #947054;
          color: #fff; }
        .wpuf-dashboard-container .wpuf-dashboard-navigation ul li a:active {
          background-color: #d2beaf;
          color: #fff; }

.dashboard p a {
  color: black;
  font-weight: bold;
  text-decoration: none; }

form ul.wpuf-form {
  width: 60% !important;
  margin: 0 auto !important;
  padding-top: 50px !important; }
  @media (max-width: 991px) {
    form ul.wpuf-form {
      width: 100% !important; } }

.form-row-last, .form-row-first {
  float: none !important;
  width: 100% !important; }

.wpuf-fields input {
  width: 100%; }

.further-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px; }
  .further-description .description {
    width: 70%;
    text-align: left; }
    @media (max-width: 991px) {
      .further-description .description {
        width: 100%; } }
  .further-description .author-contact {
    margin: 0px 5px;
    border-left: 1px solid #d2beaf;
    padding: 30px;
    width: 30%;
    min-width: 250px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .further-description .author-contact {
        border: 1px solid #d2beaf; } }
    .further-description .author-contact .title {
      font-size: 2.1875rem;
      margin: 0;
      color: #947054; }
    .further-description .author-contact .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.125rem;
      font-weight: bold;
      padding: 20px 0px; }
      @media (max-width: 767px) {
        .further-description .author-contact .contact {
          display: block; } }
      .further-description .author-contact .contact h5 {
        text-transform: capitalize;
        border-bottom: 1px solid #d2beaf;
        font-size: 20px;
        display: flex;
        justify-content: flex-start; }

/*# sourceMappingURL=style.css.map */
