//=======================================================
// -Global style start
//=======================================================


// Default style start

html, body {
  font-family: $font-default;
  font-size: 16px;
  scroll-behavior: smooth;
  
	
	@include mq('sm', min) {
    font-size: 10px;
  }
	@include mq('md', min) {
    font-size: 12px;
  }
	@include mq('lg', min) {
    font-size: 14px;
  }
  @include mq('xl', min) {
    font-size: 16px;
  }
}

// To Fixed Spacing Issue
body{
  height: 0px!important;
}

// Container Start
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
// Container End

* {
  box-sizing: border-box;
}

// Global Headings Start
.section-heading {
  font-size: rem(50);
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 600;
  text-align: center;
  color: $secondary-color;
  font-family: $font-primery;
  
  @include mq('sm', max){
    font-size: rem(35);
    margin-bottom: 25px;
  }
}

.entry-title{
  @extend .section-heading ;
}
// Global Headings End

// Post Edit Link
.post-edit-link{
  font-size: 20px;
}

// Global Banner Start
.banner-section{
  background-image: url("../images/hero1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .banner-layout {
    background-color: rgba($black, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-primery;
    h1 {
      min-width: 100px;
      text-align: center;
      font-size: rem(50);
      font-weight: 700;
      color: $white;
      padding: 10px 15px;
      margin: 0px;
      
    }
    h4 {
      margin: 0px;
      padding: 15px;
      text-align: center;
      font-size: rem(20);
      color: rgba($white, 0.8);
    }
  }
  .banner-layout-property, .banner-layout-privacy-policy {
    height: 60vh;

  }
}
// Global Banner End

// Posts Conatiner Start
.latest-posts-container{
  margin-top: 100px;
  margin-bottom: 100px;
}
// Posts Conatiner End

// Card Start
.card {
	position: relative;
  width: 30%;
  max-width: 700px;
  min-width: 300px;
  z-index: 1;
  margin: 16px;
  
  &:hover{
    .card-head{
      .cost{
        .cost-btn{
          background-color: $primery-color;
          color: $white;
        }
      }
    }
  }
  
  // Card Head Start
  .card-head {
    position: relative;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    a {
      .img-link  {
        width: 100%;
        height: 280px;
      }
    }
    .cost {
			.cost-btn {
				display: inline-block;
				position: absolute;
				bottom: 20px;
				left: 20px;
				z-index: 10;
				margin-bottom: 0;
				line-height: 1;
				-webkit-transition-duration: 500ms;
        transition-duration: 500ms; 
        padding: 10px 20px;
        background-color: $white;
        color: $primery-color;
        font-size: rem(30);
        font-weight: 600;
			}
		} 
  }
  // Card Head End
  
  // Card Body Start
	.card-body {
    padding: 30px;
    font-family: $font-primery;
		h5 {
      font-size: rem(18); 
      margin: 0;
      margin-bottom: 10px;
		}
		p {
      margin: 0;
      margin-bottom: 50px;
		}
		.location {
      color: $primery-color;
      margin: 0;
			margin-bottom: 25px;
			font-size: 14px;
      font-weight: 600; 
      display: flex;
			i {
				margin-right: 6px;
        font-size: rem(18);
        font-weight: 900;
			}
    }
    
    .description{
      color: lighten($secondary-color, 30%);
      font-size: rem(14);
      line-height: 2;
      
      .more-link{
        color: $primery-color;
      }
    }
    
		.property-meta-data {
      font-size: rem(24);
      width: 80%;
			position: absolute;
			bottom: 20px;
      
			span {
				font-size: 12px;
				margin-left: 5px;
        color: darken($secondary-color, 15%);
        font-size: rem(12);
        
      }
      
			i {
        margin-right: 8px;
        color: $primery-color;
        font-size: rem(24);
        
			}
		}
  }
  // Card Body End
  
} 
// Card End

// Excerpt Permalink Text 
.read-more{
  color: $primery-color;
  &:visited{
    color: lighten($secondary-color, 30%);
  }
}
//=======================================================
// -Global style  end
//=======================================================