//===========================================
// -Account Page Start
//===========================================

// Login Page Styling
.um-form .um-misc-img img {
  width: 400px!important;
  border: 3px solid $primery-color;
  
  @include mq('md', max){
    width: 150px !important;
  }
}

.um-form .um-misc-img ~ div {
  color: $primery-color!important;
  font-size: rem(35);
  text-transform: capitalize;
  
  
  @include mq('md', max){
    font-size: rem(20);
  }
}

// After Login Account Visit heading
.um-misc-ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  
  li {
    
    a{
      color: $black;
      text-decoration: $secondary-color;
      font-weight: 600;
    }
  }
}
// Login Page Styling

// Registration Page Styling
.entry-content {
  text-align: center;
  font-size: larger;
  
  @include mq('sm', max){
    width: 90% !important;
    margin: 0 auto;
  }
}
// Registration Page Styling

// Account Page Styling 
.wpuf-dashboard-container .wpuf-dashboard-content{
  text-align: left;
  float: none !important;
  margin: 0 auto !important;
  padding: 0 30px;
  
  @include mq('sm', max){
    width: 100% !important;
    font-size: rem(14);
  }
}

.wpuf-dashboard-container .wpuf-dashboard-navigation {
  text-align: left;
  float: none !important;
  width: auto !important;
  
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    li{
      border: 1px solid $primery-color;
      margin: 10px 5px;
      padding-bottom: 0 !important;
      a{
        color: darken($secondary-color, 20%);
        display: block;
        padding: 10px 30px;
        transition: 50ms;
        
        @include mq('sm', max){
          padding: 5px 15px;
          font-size: rem(14);
        }
        
        &:hover{
          background-color: $primery-color;
          color: $white;
        }
        
        &:active{
          background-color: lighten($primery-color, 30%) ;
          color: $white;
        }
      }
    }
  }
}

.dashboard{
  p{
    a{
      color: darken($secondary-color, 20%);
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// Account Page Styling 

//===========================================
// -Account Page End
//===========================================