//===========================================
	// -Header start
//===========================================

// Header Start
.site-header{
	background-color: $black;
	display: flex;
	align-items: center;
	height: rem(90);
	position: sticky;
	top: 0;
	z-index: 5;
	-webkit-box-shadow: 0px 1px 11px -2px rgba(0,0,0,1);
	box-shadow: 0px 1px 11px -2px rgba(0,0,0,1);
	transition: all 0.6s ease-in-out;

	
	@include mq('md', max){
		height: 100%;
		padding: 0 8px;
	}
	
	@include mq('sm', max){
		flex-wrap: wrap;
	}

	// Brand Logo Start
	.site-branding{
		margin-right: auto;
		
		a{
			display: block;
			 padding-top: 16px;

			img{
				width: 150px;

				@include mq('md', max){
					width: 100px;
				}
			}
		}
	}
	// Brand Logo End
	
}
// Header End

//===========================================
	// -Header end
//===========================================
